@{
    ViewData["Title"] = "Página de incio - Sistema de manejo de empleados";
}

<div class="text-center">
    <h1 class="display-4">Puede realizar acciones sobre las siguientes entidades: </h1>

    <div class="row">
        <a href="/Persona"> Persona </a>
    </div>
    <div class="row">
        <a href="/Direccion/"> Dirección </a>
    </div>
</div>
