@{
    ViewData["Title"] = "Página de incio - Sistema de manejo de empleados";
}

<div class="text-center">
    <h1 class="display-4">Proyecto de curso - Javier Andrés Morales</h1>
    <h1 class="display-4">1210219</h1>
</div>
